.list-group-item {
  margin: 15px;
}

.display-title {
  text-align: left;
  font-size: 2em;
  padding-left: 30%;
  padding-bottom: 20px;
}

.post-title {
  text-align: left;
  font-size: 1.5em;
  padding-left: 20px;
}

.post-content {
  text-align: left;
  color: #012345;
  padding-top: 5px;
  font-size: 1.2em;
}

.form-group {
  padding-right: 60%;
}

.btn-default {
  position: absolute;
  top: 18%%; left: 10%;
}
 .welcome-title {
   text-align: center;
   font-size: 2.6em;
   padding-top: 5%;
 }

 .welcome-text {
   margin-top: 6%;
   font-size: 1.4em;
 }

.signout-text {
  font-size: 2.7em;
  text-align: center;
  color: #012345;
  margin-top: 20%;
}
